%YAML 1.2
---
appname: xmppbot
plugins:
    path: /plugins
    loading:
        - xmpp
        - help
        - privilage
        - database
        - logg
        - dicebot
    database:
        user_path: /datas/users.db
    xmpp:
        jid: <***>
        password: <***>
        chatrooms:
            - room: <***>
              nick: <***>
#              password:
            - room: <***>
              nick: <***>
        refractory:
            <OTHER>: 20
            <CHAT>: 8
            moderator : 4
            participant: 10
    privilage:
    logg:
        path: /logs
    languages:
        default: en_US
        locale: /locales/mo
